<div class="col-xs-10 col-xs-offset-1 about">
<div class="col-xs-10 col-xs-offset-1"
  <h1> About Splurty </h1>

<p>

    Splurty was built by <a target="_blank" href= "https://github.com/Examene101">Jeffruy Examene </a>. An inspiring Ruby on Rails developer.

 </p>
  <p>
    First project in a long journey to becoming the best Ruby on Rails programmer.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

</div>


<div class="col-xs-12 col-sm-4">
    <%= image_tag 'Jeff.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Jeffruy Examene</h2>
    <br />
    <p>
     It's my first program in the firehose project.
    </p>
  </div>
  <br class="clear" />
  <br />
  <br /> 
  <br />
  <br />

