<div class="col-xs-10 col-xs-offset-1 about">
<div class="col-xs-10 col-xs-offset-1"
  <h1> About Splurty </h1>

<p>

    Splurty was built by <a target="_blank" href= "https://github.com/Examene101">Jeffruy Examene </a>. An inspiring Ruby on Rails developer.

 </p>
  <p>
    Together they taught hundreds of students how to code and build products people want at places like Harvard Business School, Carnegie Mellon, Babson, Rhode Island School of Design, Brown University, Punohou High School and ‘Iolani High School.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

</div>


<div class="col-xs-12 col-sm-4">
    <%= image_tag 'marco.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Jeffruy Examene</h2>
    <br />
    <p>
     It's my first program in the firehose project.
    </p>
  </div>
  <br class="clear" />
  <br />
  <br /> 
  <br />
  <br />

